<!DOCTYPE html>
<html>
<head>
	<title>Family Entertainer Movies</title>

</head>
<body>
	<center>
		<h1>Hey Buddy! you are happy. Hope These Movies connect you more</h1><br>
		<h2><u>Telugu Movies</u></h2>
	<div>
	 <p><a href="https://youtu.be/LS6XiINMc2s"><img src="{{url_for('static', filename='srimanthudu.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>SRIMANTHUDU</b>
	</div>
	
	<div>
	 <p><a href="https://youtu.be/9dofjL8eOXs"><img src="{{url_for('static', filename='Mr.Perfect.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>MR.PERFECT</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/tZ-X76204AU"><img src="{{url_for('static', filename='Geetha Govindam.avif')}}" style="width:400px;height:200px;"></a></p>
	 <b>GEETHA GOVINDAM</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/wl7FV1LHcU4"><img src="{{url_for('static', filename='Sathamanam Bhavati.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>SATHAMANAM BHAVATI</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/c_diMSAaojU"><img src="{{url_for('static', filename='Nuvvostanante Nenoddantana.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>NUVVUOSTANANTE NENODDANTANA</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/D6bEVeBrciA"><img src="{{url_for('static', filename='ala vaikunthapuramlo.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>ALA VAIKUNTHAPURAMLO</b>
	</div>
	
	<h2><u>Hindi Movies</u></h2>
	<div>
	 <p><a href="https://www.youtube.com/watch?v=fKBJCt_vOsk"><img src="{{url_for('static', filename='ghar_ho_aisa.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Ghar Ho To Aisa</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=iUFDAcA0C2U"><img src="{{url_for('static', filename='Kabhi Khushi Kabhie Gham.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Kabhi Khushi Kabhie Gham</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=1NLkXBb1EC8"><img src="{{url_for('static', filename='3 idiots.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>3 Idiots</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=zc5HkV22cNM"><img src="{{url_for('static', filename='beja fry.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Beja Fry 2</b>
	</div>

	<h2><u>English Movies</u></h2>
	<div>
	 <p><a href="https://www.youtube.com/watch?v=d67LRLhq4i0"><img src="{{url_for('static', filename='little Mermaid.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Little Mermaid</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=ijuZJVZQcJ8"><img src="{{url_for('static', filename='jungle Book.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>The Jungle Book</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/0fvK3r4X8Gg"><img src="{{url_for('static', filename='coco.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>COCO</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/FaNCjutr8h8"><img src="{{url_for('static', filename='jumanji.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Jumanji</b>
	</div>


	 </center>


</body>
</html>