<!DOCTYPE html>
<html>
<head>
	<title>Musical Hit Movies</title>

</head>
<body>
	<center>
		<h1>Hey Buddy! Do not Feel Disgust, I will make you Happy. Hope These Movies makes your Mood Better</h1>
	<div>
		<h2><u>TELUGU MOVIES</u></h2>
	 <p><a href="https://www.youtube.com/watch?v=8NkXPpsC5Bk"><img src="{{url_for('static', filename='sakhi.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>SAKHI</b>
	</div>
	
	<div>
	 <p><a href="https://www.youtube.com/watch?v=1uPnKmqWkEI"><img src="{{url_for('static', filename='orange.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>ORANGE</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=1qSv-cYe-DM"><img src="{{url_for('static', filename='sitaRamam.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>SITA RAMAM</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=3gmDgr-wO2g"><img src="{{url_for('static', filename='NuvNakNachav.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>NUV NAKU NACCHAV</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=EUJUZOQq_CY"><img src="{{url_for('static', filename='AunannaKadanna.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>AVUNANNA KADANNA</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=cbVt23wrHiM&t=2513s"><img src="{{url_for('static', filename='jagadeka.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>JAGADEKA VEERUDU ATHILOKA SUNDHARI</b>
	</div>
	<h2><u>HINDI MOVIES</u></h2>
	<div>
		<p><a href="https://youtu.be/CFfl5H5cQu4"><img src="{{url_for('static', filename='love aaj.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>Love aaj kal</b>
	   </div>
	   
	   <div>
		<p><a href="https://youtu.be/y3YDdr6L9zs"><img src="{{url_for('static', filename='cocktail.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>cocktail</b>
	   </div>
   
	   <div>
		<p><a href="https://youtu.be/w3T2o66ASow"><img src="{{url_for('static', filename='rab.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>Rab ne bana di jodi</b>
	   </div>
   
	   <div>
		<p><a href="https://youtu.be/aMETPu9WQGY"><img src="{{url_for('static', filename='aashique.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>Aashique2</b>
	   </div>
   
	   <div>
		<p><a href="https://youtu.be/0wlg22fYomQ"><img src="{{url_for('static', filename='zindagi.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>Zindagi na milegi dobara</b>
	   </div>
	   <h2><u>ENGLISH MOVIES</u></h2>
	<div>
		<p><a href="https://youtu.be/RWSKXWB7_9Y"><img src="{{url_for('static', filename='sound.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>The sound of music</b>
	   </div>
	   
	   <div>
		<p><a href="https://youtu.be/h8lxNV8-vGw"><img src="{{url_for('static', filename='la.jpeg')}}" style="width:400px;height:200px;"></a></p>
		<b>La la land</b>
	   </div>
   
	   <div>
		<p><a href="https://youtu.be/8g1S60z60l4"><img src="{{url_for('static', filename='fair.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>My fair day</b>
	   </div>
   
	   <div>
		<p><a href="https://youtu.be/KOLVvK0tGJQ"><img src="{{url_for('static', filename='moulin.jpg')}}" style="width:400px;height:200px;"></a></p>
		<b>Moulin rouge</b>
	   </div>
   
	   <div>
		<p><a href="https://youtu.be/XAGCsBubYsY"><img src="{{url_for('static', filename='annie.jpeg')}}" style="width:400px;height:200px;"></a></p>
		<b>Annie</b>
	   </div>
	 </center>


</body>
</html>