<!DOCTYPE html>
<html>
<head>
	<title>Sports Movies</title>
</head>
<body>
	<center>
		<h1>Hey Buddy! Do not Panic, Hope These Movies makes your Mood Better</h1>
	<div>
		<h2><u>TELUGU MOVIES</u></h2>
	 <p><a href="https://youtu.be/gr7TttotBD8"><img src="{{url_for('static', filename='tammudu.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>THAMMUDU</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/tpCPfxEVaNc"><img src="{{url_for('static', filename='jersey.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>JERSEY</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/uRbKSPsLwEw"><img src="{{url_for('static', filename='okkadu.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>OKKADU</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/FAs0k7FjjX8"><img src="{{url_for('static', filename='sye.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>SYE</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/1OYReeI6ZY0"><img src="{{url_for('static', filename='ashwini.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>ASHWINI</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/hu8NDQ8R3zU"><img src="{{url_for('static', filename='bheemili.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>BHEEMILI</b>
	</div>
	<h2><u>HINDI MOVIES</u></h2>
	 <p><a href="https://youtu.be/kcsXeizCPAI"><img src="{{url_for('static', filename='bhaag.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Bhaag Milkha Bhaag</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/1DSu7eCmCSc"><img src="{{url_for('static', filename='Dangal.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Dangal</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/tneIQNfgzqM"><img src="{{url_for('static', filename='paan.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Paan singh tomar</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/u9zyLtIUd8M"><img src="{{url_for('static', filename='mary.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Mary kom</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/ttDz8hsUU7k"><img src="{{url_for('static', filename='lagaan.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>lagaan</b>
	</div>
	<h2><u>ENGLISH MOVIES</u></h2>
	 <p><a href="https://youtu.be/sb_3L7ONino"><img src="{{url_for('static', filename='wrestler.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>The wrestler</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/30Eo3La3D84"><img src="{{url_for('static', filename='creed.jpeg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Creed</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/lGOEfTZtHzU"><img src="{{url_for('static', filename='ford.jpeg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Ford vs Ferrari</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/uEj7tKfMBGg"><img src="{{url_for('static', filename='national.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>National velvet</b>
	</div>
	<div>
	 <p><a href="https://youtu.be/VJWm1q9ai4c"><img src="{{url_for('static', filename='basket.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>The basketball diaries</b>
	</div>
	 </center>
</body>
</html>