<!DOCTYPE html>
<html>
<head>
	<title>Comedy Movies</title>

</head>
<body>
	<center>
		<h1>Hey Buddy! Do not Feel Sad, I will make you Happy. Hope These Movies makes your Mood Better</h1>
	<div>
	 <p><a href="https://www.youtube.com/watch?v=unOYr97BL6Y"><img src="{{url_for('static', filename='avadigolavadide.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>AVADI GOLA VADIDE</b>
	</div>
	
	<div>
	 <p><a href="https://www.youtube.com/watch?v=XyweHWE-y5E"><img src="{{url_for('static', filename='ThottiGang.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>THOTTI GANG</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=bVPE9Cn3hqM&t=1s"><img src="{{url_for('static', filename='kithakithalu.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>KITHAKITHALU</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=Rb8GCqEv1qQ"><img src="{{url_for('static', filename='kick.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>KICK</b>
	</div>

	<div>
	 <p><a href="https://youtu.be/81IUbYOkXyo"><img src="{{url_for('static', filename='F2.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>F2</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=9hMJVLamVKo"><img src="{{url_for('static', filename='benduApparao.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>BENDU APPARAO RMP</b>
	</div>

	<h2><u>Hindi Movies</u></h2>
	<div>
	 <p><a href="https://www.youtube.com/watch?v=1NLkXBb1EC8"><img src="{{url_for('static', filename='3 idiots.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>3 Idiots</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=TmxYlA26Jr4"><img src="{{url_for('static', filename='Phir Hera Pheri.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Phir Hera Pheri</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=ZmE6TN9bYQg"><img src="{{url_for('static', filename='golmal fun unlimited.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Golmal Fun Unlimited</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=HVyXEbOWrp4"><img src="{{url_for('static', filename='hungama.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Hungama</b>
	</div>

	<h2><u>English Movies</u></h2>
	<div>
	 <p><a href="https://www.youtube.com/watch?v=tGgKsV0lgsU"><img src="{{url_for('static', filename='children.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Six Children & One Grandfather</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=GRATpCcWxTA"><img src="{{url_for('static', filename='around.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Around The World 80 Days</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=MkjMrzT6TvA"><img src="{{url_for('static', filename='Diamond Dog Caper.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Diamond Dog Caper</b>
	</div>

	<div>
	 <p><a href="https://www.youtube.com/watch?v=127rJwowaAc"><img src="{{url_for('static', filename='Rat Race.jpg')}}" style="width:400px;height:200px;"></a></p>
	 <b>Rat Race</b>
	</div>

	 </center>


</body>
</html>